nav{
  height: 60px;
  margin-top: 2%;
  a{
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    background: rgb(240,240,240);
    border-radius: 10px;
    color: black;
    transition: .20s ease-in-out;
  }
  a.active{
    background-color: black;
    color: rgb(240,240,240);
  }
  a:hover{
    background-color: rgb(200,200,200);
  }

}

