input{
  margin: 2.5%;
}
.new-client{
  position: relative;;
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  padding: 1%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
h1{
  color: rgb(255,105,0);
  margin: 1%;
  padding: 0;
}
